/* This is my CSS style sheet for my Earth Systems Presentation on my internship in U.S. Senator Jon Tester's Regional Office in Missoula. */

/* background of entire webpage */

body {
	background-color: grey;
	font-family: helvetica;
	width: 100%;
}

/* body div of most of the webpage */

.body {
	
}

/* table for the main layout */

.main {
	width: 1227px;
	margin: 0 auto;
	border: 0px solid black;
}

/* top row of the table */

.top {
	
}

/* table data section with colspan="2" */

.topnav {
	width: 1227px;
	padding: 10px 0px 2px 3px;
	min-width: 1227px;
	height: 40px;
	border: 0px solid black;
}

/* unordered list for navigation across the top */

.topnav ul {
	margin-left: 0;
	padding-left: 0;
	display: inline;
}

/* list items for the navigation across the top */

.topnav ul li {
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 3px 0px 0px;
	list-style: none;
	display: block;
	float: left;
	background-image: url(Pictures/topbarbg.gif);
	background-repeat: no-repeat;
	text-align: center;
	width: 150px;
	height: 30px;
	border: 0px solid black;
}

/* anchor links to other top bar navigation elements and sets shadow */

.topnav ul li a {
	text-decoration: none;
	color: white;
	font-size: 22;
	text-shadow: black 3px 3px;
}

/* changes background of top  navigation bar links when you hover the mouse over a section */

.topnav ul li a:hover {
	background-image: url(Pictures/topbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 3px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

/* changes background of top navigation bar links when you select them */

.topnav ul li a:active {
	background-image: url(Pictures/topbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 3px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

/* changes background of top navigation bar links when you are viewing them */

.topnav #starttab a {
	background-image: url(Pictures/topbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 3px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.topnav #goalstab a {
	background-image: url(Pictures/topbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 3px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.topnav #backgroundtab a {
	background-image: url(Pictures/topbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 3px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.topnav #stakeholderstab a {
	background-image: url(Pictures/topbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 3px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.topnav #energytab a {
	background-image: url(Pictures/topbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 3px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.topnav #policiestab a {
	background-image: url(Pictures/topbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 3px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.topnav #conclusionstab a {
	background-image: url(Pictures/topbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 3px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.topnav #lessonstab a {
	background-image: url(Pictures/topbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 3px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

/* span ids for topnav bar */

#start {
	border: 0px solid black;
	padding: 0px 50px 5px 52px;
}

#goals {
	border: 0px solid black;
	padding: 0px 44px 5px 47px;
}

#background {
	border: 0px solid black;
	padding: 0px 16px 5px 16px;
}

#stakeholders {
	border: 0px solid black;
	padding: 0px 10px 5px 11px;
}

#energy {
	border: 0px solid black;
	padding: 0px 40px 5px 39px;
}

#policies {
	border: 0px solid black;
	padding: 0px 35px 5px 37px;
}

#conclusions {
	border: 0px solid black;
	padding: 0px 15px 5px 14px;
}

#lessons {
	border: 0px solid black;
	padding: 0px 32px 5px 35px;
}

/* shortcut class for unordered list for top navigation */

.toplist {
	
}

/* table row class */

.bottom {
	
}

/* table data section for left navigation bar */

.leftnav {
	width:150px;
	vertical-align: top;
}

/* unordered list element for left navigation bar */

.leftnav ul {
	list-style: none;
	margin-left: 0;
	padding: 0px
}

/* sets background image for left navigation bar items */

.leftnav ul li {
	border: 0px solid black;
	padding: 0px 0px 3px 0px;
	margin-left: 2px;
	background-image: url(Pictures/leftbarbg.gif);
	background-repeat: no-repeat;
	height: 30px;
	width: 150px;
	text-align: center;
}

/* anchor links for left navigation bar and sets text shadow */

.leftnav ul li a {
	color: black;
	text-decoration: none;
	font-size: 22;
	text-shadow: white 2px 2px;
}

/* changes background of top bar navigation links when you hover the mouse over a section */

.leftnav ul li a:hover {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

/* changes background of top bar navigation links when you select them */

.leftnav ul li a:active {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: none;
	color: black;
	height: 30px;
	width: 150px;
	border: 0px solid black;
	padding: 0px 0px 5px 0px;
	margin-left: 2px;
}

/* changes background of left navigation bar links when you are viewing them */
/* start tab leftnav tabs */

.leftnav #officestab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #mentortab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #stafftab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #classestab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

/* goals tab leftnav tabs */

.leftnav #montanatab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #debatetab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

/* background tab leftnav tabs */

.leftnav #metab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #montanastatetab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #testertab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #commtab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #vipstab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #politicstab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #billstab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #mytaskstab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #resourcestab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

/* stakeholders tab leftnav tabs */

.leftnav #protab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #antitab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #uncleartab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

/* energy tab leftnav tabs */

.leftnav #geothermaltab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #solarpvtab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #hydroelectrictab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #ccstab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #nucleartab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #naturalgastab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #biomasstab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #co2eortab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #storagetab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #coaltab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #windtab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #efficiencytab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #exporttab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #restab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #jobstab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #transmissiontab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

/* policies tab leftnav tabs */

.leftnav #acelatab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #cleartab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #acestab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #apatab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #lceatab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #mepatab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #constitutiontab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

/* conclusions tab leftnav tabs */

.leftnav #energyadvicetab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

.leftnav #policytab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

/* lessons tab leftnav tabs */

.leftnav #tab a {
	background-image: url(Pictures/leftbarhabg.gif);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 5px 0px;
	width: 150px;
	height: 30px;
	border: 0px solid black;
	background-color: grey;
}

/* span ids for leftnav bar */
/* start leftnav bar */

#offices {
	border: 0px solid black;
	padding: 0px 41px 5px 41px;
}

#mentor {
	border: 0px solid black;
	padding: 0px 43px 5px 40px;
}

#staff {
	border: 0px solid black;
	padding: 0px 54px 5px 51px;
}

#classes {
	border: 0px solid black;
	padding: 0px 36px 5px 36px;
}

/* goals leftnav bar */

#montana {
	border: 0px solid black;
	padding: 0px 33px 5px 33px;
}

#debate {
	border: 0px solid black;
	padding: 0px 39px 5px 41px;
}

/* background leftnav bar */

#me {
	border: 0px solid black;
	padding: 0px 60px 5px 62px;
}

#montanastate {
	border: 0px solid black;
	padding: 0px 32px 5px 34px;
}

#tester {
	border: 0px solid black;
	padding: 0px 43px 5px 46px;
}

#comm {
	border: 0px solid black;
	padding: 0px 40px 5px 42px;
}

#vips {
	border: 0px solid black;
	padding: 0px 52px 5px 54px;
}

#politics {
	border: 0px solid black;
	padding: 0px 39px 5px 41px;
}

#bills {
	border: 0px solid black;
	padding: 0px 54px 5px 56px;
}

#mytasks {
	border: 0px solid black;
	padding: 0px 27px 5px 28px;
}

#resources {
	border: 0px solid black;
	padding: 0px 23px 5px 23px;
}

/* stakeholders leftnav bar */

#pro {
	border: 0px solid black;
	padding: 0px 58px 5px 58px;
}

#anti {
	border: 0px solid black;
	padding: 0px 55px 5px 57px;
}

#unclear {
	border: 0px solid black;
	padding: 0px 38px 5px 38px;
}

/* energy leftnav bar */

#geothermal {
	border: 0px solid black;
	padding: 0px 19px 5px 19px;
}

#solarpv {
	border: 0px solid black;
	padding: 0px 31px 5px 32px;
}

#hydroelectric {
	border: 0px solid black;
	padding: 0px 11px 5px 12px;
}

#ccs {
	border: 0px solid black;
	padding: 0px 52px 5px 51px;
}

#nuclear {
	border: 0px solid black;
	padding: 0px 39px 5px 36px;
}

#naturalgas {
	border: 0px solid black;
	padding: 0px 15px 5px 17px;
}

#biomass {
	border: 0px solid black;
	padding: 0px 34px 5px 32px;
}

#co2eor {
	border: 0px solid black;
	padding: 0px 24px 5px 25px;
}

#storage {
	border: 0px solid black;
	padding: 0px 38px 5px 36px;
}

#coal {
	border: 0px solid black;
	padding: 0px 52px 5px 53px;
}

#wind {
	border: 0px solid black;
	padding: 0px 50px 5px 50px;
}

#efficiency {
	border: 0px solid black;
	padding: 0px 28px 5px 29px;
}

#export {
	border: 0px solid black;
	padding: 0px 44px 5px 43px;
}

#res {
	border: 0px solid black;
	padding: 0px 52px 5px 52px;
}

#jobs {
	border: 0px solid black;
	padding: 0px 52px 5px 52px;
}

#transmission {
	border: 0px solid black;
	padding: 0px 11px 5px 10px;
}

/* policies leftnav bar */

#acela {
	border: 0px solid black;
	padding: 0px 38px 5px 39px;
}

#clear {
	border: 0px solid black;
	padding: 0px 38px 5px 39px;
}

#aces {
	border: 0px solid black;
	padding: 0px 44px 5px 45px;
}

#apa {
	border: 0px solid black;
	padding: 0px 53px 5px 52px;
}

#lcea {
	border: 0px solid black;
	padding: 0px 45px 5px 48px;
}

#mepa {
	border: 0px solid black;
	padding: 0px 43px 5px 44px;
}

#constitution {
	border: 0px solid black;
	padding: 0px 18px 5px 17px;
}

/* conclusions leftnav bar */

#energyadvice {
	border: 0px solid black;
	padding: 0px 41px 5px 40px;
}

#policy {
	border: 0px solid black;
	padding: 0px 46px 5px 45px;
}

/* lessons leftnav bar */

# {
	border: 0px solid black;
	padding: 0px 0px 5px 0px;
}

/* shortcut class for unordered list for left navigation */

.leftlist {
	
}

/* table data section of the bottom row of the main table that holds content for each individual webpage */

.content {
	width: 1045px;
	border: 1px solid black;
	vertical-align: top;
}

/* breadcrumbs */
/* at the top of the content section which allows you to see how you got to where you are */
/* start */

.bread {
	color: black;
	padding: 3px;
	margin-bottom: 25px;
	text-align: left;
}

/* top navigation bar element */

.bread ul {
	margin-left: 0;
	padding-left: 0;
	display: inline;
	border: none;
}

/* left navigation bar element */

.bread ul li {
	margin-left: 0;
	padding-left: 0;
	border: none;
	list-style: none;
	display: inline;
}

/* take away the carrot in front of the first breadcrumb */

.bread-gen ul li:before {
	content: "\0020 \0020 \0020 \00BB \0020";
}

.bread-gen ul li.first:before {
	content: " ";
}

/* content divs and ids */
/* content div and id for beginning page */

.beginning {
	text-align: center;
}

#begfont1 {
	font-size: 50;
	font-weight: 7;
}

#begfont2 {
	font-size: 40;
	font-weight: 5;
}

#begfont3 {
	font-size: 30;
	font-weight: 4;
}
#begfont4 {
	font-size: 20;
	font-weight: 2;
}

/* content div and ids for start */

.start {
	text-align: center;
}

.offices {
	text-align: center;
}

#stafftable {
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
}

.mentor {
	font-size: 20px;
}

#classtable {
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
}

/* content div and ids for goals */

.goals {
	
}

/* content div and ids for background */

.background {
	
}

#backgroundtable {
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

/* content div and ids for stakeholders */

.stakeholders {
	
}

#protable {
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#antitable {
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#uncleartable {
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#meictable {
	margin-left: auto;
	margin-right: auto;
}

#sierraclubtable {
	margin-left: 100px;
	margin-right: 100px;
}

#ncoctable {
	margin-left: 100px;
	margin-right: 100px;
}

#mblcetable {
	margin-left: 100px;
	margin-right: 100px;
}

#uscaptable {
	margin-left: 100px;
	margin-right: 100px;
}

#mggatable {
	margin-left: 100px;
	margin-right: 100px;
}

#fectable {
	margin-left: 100px;
	margin-right: 100px;
}

#mcoctable {
	margin-left: 100px;
	margin-right: 100px;
}

#mfbftable {
	margin-left: 100px;
	margin-right: 100px;
}

#nwetable {
	margin-left: 100px;
	margin-right: 100px;
}

#oilandcoaltable {
	margin-left: 100px;
	margin-right: 100px;
}

#tourismtable {
	margin-left: 100px;
	margin-right: 100px;
}

#mfutable {
	margin-left: 100px;
	margin-right: 100px;
}

#otherstable {
	margin-left: 100px;
	margin-right: 100px;
}

/* content div and ids for energy */

.energy {
	
}

#energytable {
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
	border: 0px solid black;
}

#energytables th {
	width: 500px;
	text-align: center;
	padding: 20px;
}

#energytable tr td {
	width: 500px;
	text-align: left;
	padding: 20px;
}

#energytable ul li {
	font-size: 20px;
	text-align: left;
}

/* content div and ids for policies */

.policies {
	
}

#policiestable {
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#policiestable2 {
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 500px;
}

/* content div and ids for conclusions */

.conclusions  {
	
}

#conclusionstable {
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/* content div and ids for lessons */

.lessons {
	
}

#lessonstable {
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/* last table row of the main table */

.footer {
	text-align: center;
}

/* copyright information in table data section of footer with colspan="2" */

.copyright {
	border: 1px solid black;
}

/* copyright text div */

.copyrighttext {
	
}